*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    list-style-type: none;
}

.title{
    margin-bottom: 1em;
}
.container{
    padding: 1em;
}
.button{
    margin-left: 0.5em;
}